body{
    background-color: #DDFFF7;
}

img{
    max-height: 45px;
    margin: 10px;
}
h1{
    color: #861657;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    margin-left: 85px;
}
.div_flex.titulo{
    align-items: center;
}

.div_flex{
    display: flex;
    justify-content: flex-start;
}

.flex_pai{
    display: flex;
    justify-content: center;
    align-items:center ;
}

.center{
    display: flex;
    justify-content: center;
}

.texto{
    width: 700px;
}

p{
    font-size: 12px;
}

input{
    width: 15px;
    height: 15px;
    text-align: center;
    font-size: 15px;
}

input::placeholder {
    color: #AA4465; 
    font-size: 8px;   
}

input:focus{
    background-color: #AA4465;
    color: white;
    font-weight: 500;
}

.vazio{
    width: 21px;
    height: 20.91px;
    text-align: center;
    margin-left: 1px;
    font-size: 15px;
}
.coluna{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}



button{
    background-color:#DDFFF7;
    border: solid 3px #861657;
    border-radius: 5px;
    color: #861657;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    margin: 15px;
    padding: 10px 20px;
    transition: 0.3s;
}

button:hover{
    background-color: #861657;
    color: white;
    box-shadow: 6px 6px 20px 0px #95d8ff;
}