.div_flex{
    display: flex;
    justify-content: center;
    
}

.flex_pai{
    display: flex;
    justify-content: flex-start;
}

.center{
    display: flex;
    justify-content: center;
}
input{
    width: 15px;
    height: 15px;
    text-align: center;
    
}

.vazio{
    width: 21px;
    height: 20.91px;
}
.coluna{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}